body, html {
	font-family: 'Arial', Arial;
	margin: 0;
	font-size: 20px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("img/bmw3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(155, 156, 156);
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(176, 222, 248);
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: #27318b;
}
main a {
	color: #27318b;
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px dotted #27318b;
	clear: both;
}
figure {
    padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 20%;
	border: 1px solid rgb(161, 155, 255);
}
figcaption {
    text-align: center;
	font-size: 90%;
}
img {
    width: 100%;
    height: 50%;    
}
@media screen and (max-width: 500px) {
	figure {
		width: 90%;
		margin: 1em;
	}
}
footer {
	background-color: black;
	padding: 0.1em;
	clear: both;
	border: 2px solid rgb(5, 31, 180);

}
footer p {
	color: whitesmoke;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
}