body, html {
	font-family: 'Arial', Arial;
	margin: 0;
	font-size: 20px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("img/bmw3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(155, 156, 156);
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(176, 222, 248);
}
h1,h2 {
	margin: 0.5em;
	font-size: 2em;
}
h2 {
	font-size: 1.5em;
	color: rgb(25, 34, 165);
}
main a {
	color: rgb(25, 34, 165);
	text-decoration: none;
}
main a:hover {
	color: #8b3727;
	text-decoration: underline;
}
p {
	margin: 1em;
	line-height: 1.4em;
	letter-spacing: 1px;
}
hr {
	margin: 1em;
	border: 1px solid black;
	clear: both;
}



.novosti img {
	width: 20%;
	float: left;
	padding: 0.5em;
	margin: 0 1em 0.5em 0.5em;
}
.novosti h2 {
	margin: 0.5em 0.7em;
	font-size: 1.5em;
	color: black;
}
.novosti hr {
	margin: 1em;
	border: 2px solid black;
	clear: both;
}
.novosti time {
	font-size: 90%;
	font-style: italic;
}
.description {
	font-weight: bold;
	margin: 0.8em 1em 1.5em 1em;
}
#news_gallery figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 10%;
	border: 1px solid black;
}
#news_gallery figcaption {
	font-size: 90%;
	text-align: center;
}
#galerija figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 22%;
	border: 1px solid black;
}
#galerija figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 22%;
	border: 1px solid black;
}
#galerija figcaption {
	font-size: 90%;
	height: 50px;
	text-align: center;
}
figure {
	padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 35%;
	border: 1px solid black;
}
figcaption {
	font-size: 90%;
}
img {
	width: 100%;
}

#konatkt {
	margin: 1em
}
label {
	display: block;
}
input[type=text], input[type=email], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
	font-family: 'Oswald', sans-serif;
	font-size: 95%;
}

input[type=submit] {
    display: block;
	background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
	width: 25%;
}

input[type=submit]:hover {
    background-color: #45a049;
}
footer {
	background-color: #333;
	padding: 0.1em;
	clear: both;
}
footer p {
	color: white;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}






figure {
    padding: 0.5em;
	margin: 0 1em 0.5em 1em;
	float: left;
	width: 20%;
	border: 1px solid rgb(161, 155, 255);
}
figcaption {
    text-align: center;
	font-size: 90%;
}
img {
    width: 100%;
    height: 50%;    
}
@media screen and (max-width: 500px) {
	figure {
		width: 90%;
		margin: 1em;
	}
}
footer {
	background-color: black;
	padding: 0.1em;
	clear: both;
	border: 2px solid rgb(5, 31, 180);

}
footer p {
	color: whitesmoke;
	text-align: center;
	margin: 0.5em;
}
footer img {
	width: 20px;
}
@media screen and (max-width: 900px) {
	figure {
		width: 90%;
		margin: 1em;
	}
}