body, html {
	font-family: 'Arial', Arial;
	margin: 0;
	font-size: 20px;
}
header {
	display: block;
	width: 100%;
}
.hero-image {
	background-image: url("img/bmw3.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	height: 500px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(155, 156, 156);
}
li {
	float: left;
}
li a {
	display: block;
	color: rgb(0, 0, 0);
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
li a:hover {
	background-color: rgb(176, 222, 248);
}